@use "../../../../styles/mixins";
@use "../../../../styles/palette";

.searchHeaderContainer {
    width: 100%;
    height: auto;
    @include mixins.flex();
    background-color: palette.$orange;
    padding: 10px;
    flex-direction: column;
    color: palette.$white;
    gap: 5px;

    > span {
        font-size: 12px;
        margin-bottom: 5px;
    }
}