@use "../../../common/styles/palette";
@use "../../../common/styles/mixins";


.container {
    width: 100%;
    @include mixins.flex();
    padding: 50px;

    p {
        color: palette.$strongGray;
        font-size: 20px;
    }
}
