@use "../../styles/palette";
@use "../../styles/mixins";

.container {
    @include mixins.flex();
    flex-direction: column;
    padding: 50px;
    gap: 30px;

    p {
        color: palette.$strongGray;
        font-size: 35px;
        text-align: center;
    }
}