@use "../../../styles/palette";
@use "../../../styles/mixins";

.container {
    width: 100%;
    @include mixins.flex();
    padding: 50px;
}

.circle {
    animation: rotating 1.5s infinite;
    color: palette.$strongGray;
    font-size: 50px;
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}