@use "../../../../styles/palette";
@use "../../../../styles/mixins";

.navBar { 
    background-color: palette.$orange;
    width: 100wv;
    height: 30px;
    padding: 10px;
    gap: 10px;
    @include mixins.flex();
    justify-content: end;

    a {
        color: palette.$white;
    }
}